@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Orbitron&family=Poiret+One&display=swap');
/* font-family: 'Orbitron', sans-serif; 
    font-family: 'Noto Sans', sans-serif;*/
/* sub2.css */

/* common */
body{font-size: 14px; font-family: 'Noto Sans', sans-serif, Helvetica, sans-serif; color: #333;}
a{text-decoration: none; color: #333;}
a:hover{text-decoration: none; color: #333;}

/* layout */
#wrap{width: 100%;}
#header{z-index: 40; position: relative; width: 100%; height: 70px;}
    .header_wrap{position: absolute; left: 0; top: 0; width: 100%; height: 70px; background-color: #F3F3F3;}
        .header_inner{position: relative; width: 100%; height: 70px; background-color: #fff; /*border-bottom: 1px solid #ccc;*/}
#container{width: 100%;}
    .sopt{width: 100%; height: 321px;}
    .spot_inner{position: relative; width: 1140px; height: 320px; margin: 0 auto; padding-top: 100px; box-sizing: border-box;}
    #content{width: 1140px; margin: 0 auto; padding: 100px 0 160px;}
#footer{position: relative; width: 100%; height: 185px; background-color: #474a4f;}
    .foot_inner{width: 1142px; margin: 0 auto; padding: 20px 0;}
/* header */
/* 로고 */
h1.logo{position: absolute; left: 30px; top:18px;}
h1.logo>a{display: block; width: 176px; height: 36px; background: url(../images/logo.png) no-repeat 0 0;
    text-indent: -9999px; overflow: hidden;}

/* 주메뉴 */
nav.gnb>ul{width: 100%; text-align: center;}
nav.gnb>ul>li{display: inline-block; padding: 0 45px; line-height: 70px; }

nav.gnb>ul>li>a{display: inline-block; position: relative;font-weight: 600; font-size: 18px; color: #000;}
nav.gnb>ul>li>a:after{content:''; position: absolute; left:50%; bottom: -2px; 
    transform: translateX(-50%); width: 0; height: 0; opacity: 0; background: #043285;
    transition: width 0.4s ease-in-out 0s;}
nav.gnb>ul>li:hover>a:after{width: 100%; height: 3px; opacity: 1;}

nav.gnb>ul>li>div{display: none; position: absolute; left: 0; width: 100%; line-height: 40px;}
nav.gnb>ul>li.on>div{display: block;}

nav.gnb>ul>li>div>ul{margin: 50px 0;}
nav.gnb>ul>li>div>ul>li{display: inline-block; padding: 0 40px; border-right: 1px solid #ddd; vertical-align: top;
    text-align: left;}    
nav.gnb>ul>li>div>ul>li:last-of-type{border-right: none;}
nav.gnb>ul>li>div>ul>li>a{display: block; font-weight: bold;  font-size: 16px;  color: #1428a0;}
nav.gnb>ul>li>div>ul>li>ul{float: left;}
nav.gnb>ul>li>div>ul>li>ul:nth-of-type(2){margin-left: 40px;}

nav.gnb>ul>li:nth-child(1)>div>ul>li{height: 270px;}
nav.gnb>ul>li:nth-child(2)>div>ul>li{height: 200px;}
nav.gnb>ul>li:nth-child(3)>div>ul>li{height: 121px;}
nav.gnb>ul>li:nth-child(4)>div>ul>li{height: 231px;}
nav.gnb>ul>li:nth-child(5)>div>ul>li{height: 164px;}

.gnb_button{margin-bottom: 30px;}
.gnb_button>a{display: inline-block;width: 830px;height: 70px; border: 1px solid #e2e2e2; border-radius: 5px;  
    padding: 10px 20x;box-sizing: border-box; margin-top: 20px;
    background: #fff url(../images/btn_arrow_ico_l.png) no-repeat 95% 50%; text-align: left; line-height: 30px;
}

/* nav.gnb>ul>li:nth-child(1)>div>div.gnb_button>a{width: 780px; height: 70px; background-position: 97% 50%;} */
.gnb_button:nth-of-type(1)>a>strong{ color: #1428a0;font-weight: 700;}
/* .gnb_button>a{width: 320px; height: 80px; margin-right: 5px;} */

/* 탑메뉴 */
dl.topMenu{position: absolute; right:60px; top:0;}
dl.topMenu>dd{float: left;}
dl.topMenu>dd>a{position: relative; display: block; width: 60px; height: 40px; padding-top: 30px; 
    text-align: center; font-weight: 600;}
dl.topMenu>dd>a:after{content: '';  position: absolute; left: 0; top:50%;
    width: 1px; height: 10px; background-color: #DDD;}
dl.topMenu>dd:nth-of-type(1)>a{background: url(../images/ico_inq.png) no-repeat 50% 30px;
    text-indent: -9999px; overflow: hidden;}
dl.topMenu>dd:first-of-type>a:after{display: none;}

dl.topMenu>dd>ul{display: none; position: absolute; top:68px; width: 60px; border-top: 5px solid #1428a0;
    padding-top: 10px; background: #fff;}
dl.topMenu>dd:hover>ul{display: block;}

dl.topMenu>dd:nth-of-type(2)>ul>li>a{display: block; width: 30px; height: 30px; border-radius: 50%;
    margin: 0 auto 10px; text-indent: -9999px; overflow: hidden;
    background: #ededed url(../images/utill_sns_ico.png) no-repeat 0 0;}
dl.topMenu>dd:nth-of-type(2)>ul>li:nth-child(1)>a{background: #ededed url(../images/utill_sns_ico.png) no-repeat -30px 0;}
dl.topMenu>dd:nth-of-type(2)>ul>li:nth-child(2)>a{background: #ededed url(../images/utill_sns_ico.png) no-repeat -60px 0px;}
dl.topMenu>dd:nth-of-type(2)>ul>li:nth-child(3)>a{background: #ededed url(../images/utill_sns_ico.png) no-repeat 0px 0px;}
dl.topMenu>dd:nth-of-type(2)>ul>li:nth-child(4)>a{background: #ededed url(../images/utill_sns_ico.png) no-repeat -120px 0px;}


dl.topMenu>dd:last-of-type>ul{height: 130px;}
dl.topMenu>dd:last-of-type>ul>li{text-align: center; padding: 10px 0;}


div.btn_srch{position: absolute; right:0px; top:0;}
div.btn_srch>a{display: block; width: 60px; height: 70px; text-indent: -9999px; overflow: hidden;
    background:  #043295 url(../images/btn_srch_ico.png) no-repeat 50% 50%;}

/* 검색박스 */
div.srch_wrap{display:none; position: fixed; left:0; top:0; width: 100%; height: 100%; background: rgba(0,0,0,0.6);}
div.srch_wrap.on{display: block;}

div.srch_inner{position: absolute; left: 0; top: 70px; width: 100%; height: 200px; padding-top: 60px;
    background: url(../images/srch_pop_bg.jpg) no-repeat 50% 50%;}
div.srch_inner>form{width: 655px; margin:0 auto;}
div.srch_inner>form>fieldset{width: 100%; height: 55px; background: #fff; margin-bottom: 20px;}
div.srch_inner input[type="search"]{width: 600px; height: 55px; text-indent: 20px; border: none;}
div.srch_inner button[type="button"]{width: 45px; height: 45px; transform: translate(1px,1px);
    background: #333 url(../images/btn_srch_ico_l.png) no-repeat 50% 50%; text-indent: -999px; overflow: hidden;}

div.srch_inner>form>ul{width: 100%; border-top: 1px solid rgba(255,255,255,.5); padding-top: 20px;}
div.srch_inner>form>ul>li{float: left; height: 45px; padding: 0 29px; margin-right: 10px;
    border-radius: 5px;
    background: #eee url(../images/btn_arrow_ico_m.png) no-repeat 90% 50%;
    font-size: 15px; line-height: 45px;}
div.srch_inner>form>ul>li:last-child{float: right; margin-right: 0;}

div>a.btn_srch_close{position: absolute; right: 0; top:0; width: 60px; height: 70px; background: #043285 url(../images/srch_pop_close.png) no-repeat 50% 50%;
    text-indent: -9999px; overflow: hidden;}


/* content */
/* spot */
.spot{width: 100%; height: 321px; background: url(../images/careers_visual_img.jpg) no-repeat 50% 0; color: #fff;}
.spot_inner>h2{font-size: 46px; margin-bottom: 15px;}
.spot_inner>p{font-size: 16px; color: #eee;}
.spot_inner>p.path{/*padding-top: 70px;*/ position: absolute; bottom: 20px; right: 0; text-align: right; font-size: 14px; color: #ccc;}

/* content */
p.info_txt{text-align:  right; margin-bottom: 10px;}

table.job{width: 100%; margin-bottom: 60px;}
.job th,.job td{height: 60px; border: 1px solid #ccc; text-align: center;}


.job thead th{border-top: 1px solid #000; background-color: #f3f3f3; font-size: 18px;}
.job thead th:first-of-type{width: 120px; border-left: none;}
.job thead th:nth-of-type(2){width: 640px;}
.job thead th:last-of-type{width: 380px; border-right: none;}

.job tbody td{border-top: none; font-size: 16px;}
.job tbody td:first-of-type{border-left: none;}
.job tbody td:last-of-type{border-right: none;}
.job tbody td:last-of-type td{border-bottom: 1px solid #000;}


/* footer */
#footer:after{display: block; content: ""; clear: both;}
#footer>div{margin: 0 auto; width: 1135px}
#footer>div>p{float: right; font-size: 12px; color: #ccc;}
#footer>div>address{position: absolute; bottom: 40px; font-size: 12px; color: #ccc;}
#footer>div>address>span{border-right: 1px solid #ccc; padding: 0 10px;}
#footer>div>address>span:nth-of-type(1){padding-left: 0;}
#footer>div>address>span:nth-of-type(3){border-right: none;}
#footer>div>address>span:nth-of-type(4){padding-left: 0; border-right: none;}

#footer>div>ul>li{float: left; padding-right: 29px;}
#footer>div>ul>li>a{font-size: 12px; color: #ccc;}
#footer>div>ul>li>a>strong{color: #4385ff; font-weight: bold;}

#footer>div>ul{margin-top: 22px;}

#footer>.foot_inner{border-bottom: 1px solid #ccc; padding-bottom: 40px;}
#footer>.foot_inner>div{float: left;}
#footer>.foot_inner>div:last-child{float: right;}

#footer>.foot_inner>div>ul>li{float: left;}

/* 바는 after 이용해서 넣을수있음
li에 position relative 후 after
 */
#footer>.foot_inner>div:nth-of-type(1)>ul>li{ padding: 0 20px; border-right: 1px solid #ccc;}
#footer>.foot_inner>div:nth-of-type(1)>ul>li:nth-of-type(1){padding-left: 0;}
#footer>.foot_inner>div:nth-of-type(1)>ul>li:nth-of-type(4){border-right: none;}
#footer>.foot_inner>div:nth-of-type(1)>ul>li>a{font-size: 12px; font-weight: bold; color: #ccc;}

#footer>div.foot_inner>div:nth-of-type(2)>ul>li>a{display: block; padding: 0 5px; width: 20px; opacity: 0; text-indent: -9999px; overflow: hidden;}
#footer>div.foot_inner>div:nth-of-type(2)>ul>li:nth-of-type(1){background: url(../images/sns_link_ico.png) -25px 0;}
#footer>div.foot_inner>div:nth-of-type(2)>ul>li:nth-of-type(2){background: url(../images/sns_link_ico.png) 10px 0;}
#footer>div.foot_inner>div:nth-of-type(2)>ul>li:nth-of-type(3){background: url(../images/sns_link_ico.png) -51px 0;}
#footer>div.foot_inner>div:nth-of-type(2)>ul>li:nth-of-type(4){background: url(../images/sns_link_ico.png) -85px 0;}

/* top 버튼 */
.btn_top{display: none; z-index: 100; position: fixed; bottom: 30px; right: 80px; width: 80px; height: 60px;
    border:  1px solid #333;
    background: #fff url(../images/top_btn_ico.png) no-repeat 50% 20%;
    font-size: 13px; color: 333; text-align: center; line-height: 80px; cursor: pointer;}
.btn_top.on{display: block;}
.btn_top.ab{position: absolute; bottom: auto; top: -100px; right: 80px;}